<div class="max-w-5xl mx-auto p-6">
  <div class="bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-2xl font-semibold text-gray-700">Информация о авторе</h2>

    <div *ngIf="loading" class="flex justify-center mt-5">
      <app-loader></app-loader>
    </div>

    <div
      *ngIf="error"
      class="flex bg-red-100 text-red-500 font-semibold p-4 rounded-lg"
    >
      Ошибка загрузки данных
    </div>

    <ng-container *ngIf="!loading && !error">
      <ng-template
        [ngTemplateOutlet]="getCurrentTemplate()"
        [ngTemplateOutletContext]="{ author: author }"
      >
      </ng-template>
    </ng-container>
  </div>
</div>

<ng-template #viewTemplate>
  <p><strong>Фамилия:</strong> {{ author.lastName }}</p>
  <p><strong>Имя:</strong> {{ author.firstName }}</p>
  <p><strong>Отчество:</strong> {{ author.middleName }}</p>
  <p><strong>Год рождения:</strong> {{ author.birthYear }}</p>

  <div class="mt-6 flex gap-4">
    <a
      [routerLink]="[]"
      [queryParams]="{ edit: '' }"
      [state]="routerEditLinkState"
      class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-600"
    >
      Редактировать
    </a>
    <a
      [routerLink]="backUrl.path"
      [queryParams]="backUrl.queryParams"
      [fragment]="backUrl.fragment"
      class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700"
    >
      Назад
    </a>
  </div>
</ng-template>

<ng-template #editTemplate>
  <form (ngSubmit)="saveAuthor()" class="mt-4">
    <div class="mb-4">
      <label for="firstName" class="block text-gray-700">Имя</label>
      <input
        type="text"
        id="firstName"
        name="firstName"
        class="mt-2 p-2 border border-gray-300 rounded-lg w-full"
        [(ngModel)]="formValues.firstName"
        required
      />
    </div>

    <div class="mb-4">
      <label for="middleName" class="block text-gray-700">Отчество</label>
      <input
        type="text"
        id="middleName"
        name="middleName"
        class="mt-2 p-2 border border-gray-300 rounded-lg w-full"
        [(ngModel)]="formValues.middleName"
        required
      />
    </div>

    <div class="mb-4">
      <label for="lastName" class="block text-gray-700">Фамилия</label>
      <input
        type="text"
        id="lastName"
        name="lastName"
        class="mt-2 p-2 border border-gray-300 rounded-lg w-full"
        [(ngModel)]="formValues.lastName"
        required
      />
    </div>

    <div class="mb-4">
      <label for="birthYear" class="block text-gray-700">Год рождения</label>
      <input
        type="number"
        id="birthYear"
        name="birthYear"
        class="mt-2 p-2 border border-gray-300 rounded-lg w-full"
        [(ngModel)]="formValues.birthYear"
        required
      />
    </div>

    <div class="flex gap-4">
      <button
        type="submit"
        class="bg-sky-400 text-white px-4 py-2 rounded hover:bg-sky-500"
      >
        Сохранить
      </button>
      <a
        [routerLink]="backUrl.path"
        [queryParams]="backUrl.queryParams"
        [fragment]="backUrl.fragment"
        class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-700"
      >
        Отмена
      </a>
    </div>
  </form>
</ng-template>
